.wdt-card{
  width: 15rem; 
}
.showAnimes{
    display: inline-flex;
    padding-top: 10rem;
    padding-right: 2rem;
}
.center{
    width: 100% !important;
}

.img-title{
  width: 350px;
  float: left;
}

.colorHeader{

  background: #121640;
  height: 350px;

}

.video-youtube{
  padding-top: 10rem;
}

.card-body{
    display: block;
    height: 100px;
}